@font-face {
	font-family: "Tolkien";
	src: url("tolkien.ttf") format("truetype");
}

@font-face {
	font-family: "Runes";
	src: url("AngerthasMoria-lgLAD.ttf") format("truetype");
}

@font-face {
	font-family: "Ringbearer";
	src: url("RINGM___.ttf") format("truetype");
}

@font-face {
	font-family: "Aniron";
	font-weight: 400;
	src: url("anirm___.ttf") format("truetype");
}
@font-face {
	font-family: "Aniron";
	font-weight: 500;
	src: url("anirb___.ttf") format("truetype");
}

@font-face {
	font-family: "Bilbo-Hands";
	font-weight: 300;
	src: url("BilboHandFine-gxVR.ttf") format("truetype");
}
@font-face {
	font-family: "Bilbo-Hands";
	font-weight: 400;
	src: url("BilboHandRegular-L3MZ.ttf") format("truetype");
}
@font-face {
	font-family: "Bilbo-Hands";
	font-weight: 500;
	src: url("BilboHandBoldBold-X3od.ttf") format("truetype");
}
